*{
    font-family: lato;
  }

.list{

    ion-label{
        padding: 3px;
        background-color:#f3f3f3;
        border-radius: 4%;
      }

}

.searchbar{
 background-color: #e2e2e2;
}

.col{
    
  h2{
    font-size: 20px;
    font-weight: 800;
    color: #000;
  }

  p{
    font-size: 13px;
    color: #030303;
    font-weight: 200;
    letter-spacing: 0.4px;

  }
}